<title>Portfolio</title>
<div class="content portfolio">
    <div class="left">
        <nav>
            <ul>
                <li>
                    <label class="expandable" data-icon="&#x002b;" ng-click="expandableClick($event)">Project Screen Shots</label>
                    <ul>
                        <li>
                            <label ng-click="showPics('abp', 8, $event)">Area Book Planner</label>
                        </li>
                    </ul>
                </li>

                <li>
                    <label class="expandable" data-icon="&#x002b;" ng-click="expandableClick($event)">Code</label>
                    <ul>
                        <li>
                            <label class="expandable" data-icon="&#x002b;" ng-click="expandableClick($event)">Array Sorter</label>
                            <ul>
                                <li>
                                    <label ng-click="showCode('sort', 'native', $event)">Native</label>
                                </li>
                               <!-- <li>
                                    <label ng-click="showCode('sort', 'angular', $event)">Angular</label>
                                </li>-->
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="pictures">
        <div class="large">
            <img class="large-image"/>
        </div>
        <div class="thumbs">
            <span class="button-left" ng-click="navThumbsLeft()"></span>
            <span class="thumbs-container">
                <img ng-repeat="pic in visiblePics" ng-src="{{pic.url}}" ng-click="loadPic(pic.url, $event)"/>
            </span>
            <span class="button-right" ng-click="navThumbsRight()"></span>
        </div>
    </div>

    <div class="code">
        <div class="tabs"></div>
        <div class="details"></div>

    </div>

</div>