<title>Profile</title>
<div class="content profile">
    <h1>Profile</h1>
    <article>
        <section>
            <h2>Personal Life</h2>
            <img class="profile" src="/styles/images/profile.jpg"/>
            <p>I grew up in Wellington, Utah, a small town with unlimited possibilities for recreation if you are an outdoors enthusiast. The area is surrounded by mountains to the north and desert to the south. Though it seems like there is not much to do by just looking around town, my brothers and I kept ourselves occupied by playing in the field next to our house. We were busy playing Cowboys and Indians, Cops and Robbers, or just going for a bike ride.</p>

            <p>I was also occupied with church, school and scouting. I am a member of the Church of Jesus Christ of Latter-day Saints, which puts an emphasis on all three activities. I excelled in school, achieving a 3.75 GPA from Carbon High – home of the Dinos. I also received the eagle scout award from the Boy Scouts of America.</p>

            <p>During my teenage years I developed a talent of playing the piano and organ thanks to my mother who was always there to teach me. I still utilize these talents today.</p>

            <p>When I turned 19 I was given the opportunity to serve in an ecclesiastical capacity in the Edmonton, Alberta, Canada mission for two years. That time was spent serving people, in various ways such as teaching the gospel of Jesus Christ, and helping out at nursing homes and food banks.</p>
        </section>

        <section>
            <h2>Professional Life</h2>
            <p>After my mission I attended Utah State University where I earned my Bachelors degree in Management Information Systems from the Jon M Huntsman School of Business.  While attending university I worked at the Utah State University Research Foundation, which is the parent company of the well renowned Space Dynamics Lab. I gained experience in web development and the benefits of working in a team environment.</p>

            <p>After graduation I took a position at Paramount Acceptance which is primarily a gym membership billing company trying to be a software company. I enjoyed my brief time there but the possibility of lay-offs and lack of a defined development process pushed me to start looking for another job.</p>

            <p>I am currently employed by Software Technology Group as a consultant. While there I have had the opportunity to work for the Church of Jesus Christ of Latter-Day Saints as a software developer in the missionary portfolio. It was a great opportunity where I gained further experience in an agile team environment working in Sencha Touch, and Java.</p>
        </section>
    </article>
</div>