<title>Resume</title>
<div class="content resume">
    <h1>Resume</h1>

    <article>
        <h2>Summary</h2>
        <section>
            <ul>
                <li>Experience using HTML, CSS, jQuery, ExtJS, Sencha Touch, AJAX, JSON, Java, C#, and SQL</li>
                <li>Proven ability to plan, develop, debug, and implement projects of various scales</li>
            </ul>
        </section>
    </article>

    <article>
        <h2>Work History</h2>
        <section>
            <h3>Web Developer-Consultant</h3>
            <h3>Software Technology Group</h3>
            <h3>April 2013 - Present</h3>

            <h3>Consultant Positions:</h3>
            <section class="sub">
                <h4>The Church of Jesus Christ of Latter-Day Saints-Missionary Portfolio</h4>
                <ul>
                    <li>Assisted in developing key features of the Area Book Planner app which include:
                        <ul>
                            <li>Recording the teaching of online investigators</li>
                            <li>Transferring and referring investigators to other missionaries and areas</li>
                        </ul>
                    </li>
                    <li>Worked to stabilize the application through many bug fixes, unit tests, and enhancements</li>
                    <li>Optimized the synchronization process by removing unnecessary database calls</li>
                    <li>Technologies utilized include: SASS/CSS, HTML, Sencha Touch/JavaScript, and Java-Spring</li>
                </ul>
            </section>
        </section>

        <section>
            <h3>Programmer</h3>
            <h3>Paramount Acceptance Corp.</h3>
            <h3>July 2012 - April 2013</h3>

            <ul>
                <li>Gained experience in C#, ASP.net, SQL Server and jQuery</li>
                <li>Implemented a custom calendar application for scheduling gym appointments, facilities, classes and employee work schedules</li>
                <li>Customized web templates to match client web sites</li>
                <li>Gained knowledge of HTML5 and CSS3</li>
            </ul>
        </section>

        <section>
            <h3>Web Applications Developer</h3>
            <h3>Utah State University Research Foundation</h3>
            <h3>January 2009 - July 2012</h3>

            <ul>
                <li>Received and award for exceptional performance</li>
                <li>Worked extensively in ExtJS, JSON, and AJAX</li>
            </ul>
        </section>
    </article>

    <article>
        <h2>Education</h2>
        <section>
            <h3>Utah State University</h3>
            <h3>Jon M Huntsman School of Business</h3>
            <h3>B.S. Management Information Systems - May 2012</h3>

            <ul>
                <li>Graduation with a 3.5 GPA</li>
            </ul>
        </section>
    </article>

    <article>
        <h2>Accomplishments</h2>
        <section>
            <ul>
                <li>Completed 2 years of ecclesiastical service in Alberta, Canada</li>
                <li>Earned the Boy Scouts of America Eagle Scout award</li>
            </ul>
        </section>
    </article>
</div>