/*$dark-blue: #34495e;
$light-blue: #bfcdd1;
$highlight-green: #5981C9;*/


/*
$blue: #94BCBC;
$black: #1E160A;
$light-brown: #C6864F;
$brown: #632913;
$medium-brown: #B76E41;*/


$color-action: #e44d26;
$color-background: #FAFAFA;
$color-primary: #1572b6;
$color-secondary: #33a9dc;