/*$color-action: #e44d26;
$color-background: #FAFAFA;
$color-primary: #1572b6;
$color-secondary: #33a9dc;*/

$color-red: #DB4C4F;
$color-black: #333333;
$color-blue: #1771BC;
$color-green: #A1C44B;
$color-white: #FFFFFF;