section {
  position: relative;
  padding: 20px;
  box-sizing: border-box;

  &.dates {
    border-right: 1px solid $color-blue;
    border-top: 1px solid $color-blue;
    padding: 70px 20px;
    margin: 20px 0;

    &:before {
      content: attr(data-content);
      display: block;
      background: $color-blue;
      color: $color-white;
      padding: 10px;
      box-sizing: border-box;
      position: absolute;
      text-align: center;
      right: 0;
      top: 0;
    }
  }


}