<!DOCTYPE html>
<html ng-app="IncomeTaxes" lang="en-US">
    <head>
        <title>Income Tax Calculator</title>
        <link rel="stylesheet" href="../../styles/build/bootstrap-4.min.css">
        <link rel="stylesheet" href="../../styles/build/portfolio.min.css">
        <script src="../../scripts/build/jquery-2.1.4.min.js"></script>
        <script src="../../scripts/build/angular.min.js"></script>
        <script src="angular.js"></script>
    </head>
    <body ng-controller="IncomeTaxController">
        <div class="container">
            <h1>Annual Income Tax Calculator</h1>
            
            <div class="row">    
                <form class="col-md-8">
                    <div class="form-group row">
                        <label for="filingStatus" class="form-control-label col-md-4">Filing Status:</label>
                        <div class="col-md-8">
                            <select id="filingStatus" class="form-control" ng-model="schedule" ng-change="selectSchedule()">
                                <option ng-repeat="schedule in scheduleNames" value="{{schedule}}">{{schedule}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="income" class="form-control-label col-md-4">Annual Income:</label>
                        <div class="col-md-8">
                            <input id="income" class="form-control" type="number" ng-model="income" ng-keyup="selectSchedule()"/>
                        </div>
                    </div>
                </form>
            </div>

            <div class="result">
                <h2>Result</h2>
                <section class="selected-schedule">
                    <h3>Schedule:</h3>
                    <div class="row">
                        <label class="col-xs-12 col-md-4">Filing Status:</label>
                        <span class="col-xs-12 col-md-8">{{selectedSchedule.status}}</span>
                    </div>
                    <div class="row">
                        <label class="col-xs-12 col-md-4">Income Range:</label>
                        <span class="col-xs-12 col-md-8">
                            <span ng-if="selectedSchedule && selectedSchedule.upperBound">{{selectedSchedule.lowerBound | currency}} - {{selectedSchedule.upperBound | currency}}</span>
                            <span ng-if="selectedSchedule && selectedSchedule.upperBound === null"> > {{selectedSchedule.lowerBound | currency}}</span>
                        </span>
                    </div>
                    <div class="row">
                        <label class="col-xs-12 col-md-4">Tax Rate:</label>
                        <span class="col-xs-12 col-md-8">{{selectedSchedule.taxRate | percentage}}</span>
                    </div>
                    <div class="row">
                        <label class="col-xs-12 col-md-4">Tax Rate Assessed After:</label>
                        <span class="col-xs-12 col-md-8">{{selectedSchedule.rateAppliesToAmountOver | currency}}</span>
                    </div>
                    <div class="row">
                        <label class="col-xs-12 col-md-4">Base Amount:</label>
                        <span class="col-xs-12 col-md-8">{{selectedSchedule.baseAmount | currency}}</span>
                    </div>
                </section>

                <section class="tax-totals">
                    <h3>Income Tax Amount</h3>
                    <div class="row">
                        <label class="col-xs-12 col-md-4">Total Income Tax:</label>
                        <div class="col-xs-12 col-md-8">
                            <span class="value">{{taxTotal | currency}}</span><br/>
                            <span class="formula">(({{income | currency}} - {{selectedSchedule.lowerBound | currency}}) x {{selectedSchedule.taxRate | percentage}}) + {{selectedSchedule.baseAmount | currency}}</span>
                        </div>
                    </div>
                </section>
                <br/><br/>
                *Based on 2013 federal income tax schedules
            </div>
        </div>
    </body>
</html>