@media only screen and (max-device-width: 600px) {

  $gray: #646464;
  $blue: #3F455A;

  html {
    margin: 0;
    font-family: arial, helvetica, sans-serif;

    body {
      margin: 0;
      padding: 0;

      header {

        nav {

          .header-container {

            h1 {
              font-size: 2.5rem;
              width: 16rem;
            }

          }

          .links {

            .sub {

              .nav-link {
                height: 4rem;
                font-size: 3rem;
                margin: 0 .5rem;
                padding: .5rem .5rem 0;
              }
            }
          }


        }
      }

      .content {
        width: 50rem;


        $gray: #646464;
        $blue: #3F455A;

        @font-face {
          font-family: icons;
          src: url(/styles/fonts/ErlerDingbats.ttf);
        }

        .left {
          width: 30rem;
          border-radius: 0;
          position: relative;
          left: 20%;

          ul {
            label {
              font-size: 2rem;

              &.expandable {
                &[data-icon]:before {
                  font-size: 2rem;
                  border-radius: 2rem;
                  border: 2px solid;
                  height: 2rem;
                  width: 2rem;
                }
              }
            }
          }
        }

        .code {
          min-width: 48rem;
          max-width: 48rem;

          .tabs {

            span {
              font-size: 1.8rem;
            }
          }

          .details {

            .detail {
              button {
                font-size: 2rem;
              }

              textarea {
                width: 45rem;
              }

              iframe {
                width: 45rem;
                height: 40rem;
                border: none;
              }
            }
          }
        }
      }

      footer {
        height: 25rem;

        .footer-container {
          width: 50rem;
        }
      }
    }

  }
}