.interest-pic {
  position: absolute;
  top: 20px;
  right: 0px;
  z-index: -1;
/*  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);*/
  max-width: 300px;
  max-height: 300px;
}
.view-images {
  vertical-align: middle;
  margin-left: 10px;
  cursor: pointer;
}