.site-nav {
  margin: 0px auto;

  .logo {
    img {
      max-width: 200px;

      @media (min-width: 62em) {
        max-width: 320px;
      }
    }
  }

  ul.hidden-md-down {
    list-style: none;
    margin-top: 3.8rem;
    padding: 7px;
    border-bottom: 2px solid $color-green;
    display: inline-block;

    li {
      display: inline-block;

      a {
        text-transform: capitalize;
        padding: 9px;

        &:hover, &:active, &:focus {
          text-decoration: none;
          color: $color-red;
        };

        &.active {
          border-bottom: 2px solid $color-red;
          color: $color-red;
        }
      }
    }
  }

  .hidden-lg-up {
    display: inline-block;
    width: calc(100% - 205px);

    button.menu-trigger {
        height: 17px;
        width: 40px;
        border: none;
        border-bottom: none;
        float: right;
        background: none;
        position: relative;
        outline: transparent;
        transition: all 250ms ease;

        &:before {
          content: '';
            width: 40px;
            height: 30px;
            position: absolute;
            top: 0;
            left: 0;
            border-top: 5px solid $color-red;
            transition: all 250ms ease;
            transform: rotate(45deg);
            transform-origin: 5px 10px;
        }

        &:after {
          content: '';
            width: 40px;
            height: 30px;
            position: absolute;
            top: 0;
            left: 0;
            border-bottom: 5px solid $color-red;
            transition: all 250ms ease;
            transform: rotate(-45deg);
            transform-origin: 5px 20px;
          }

        &.collapsed {
          border-bottom: 5px solid $color-blue;

          &:before {
            transform: rotate(0deg);
            transform-origin: 7px 10px;
            border-color: $color-blue;

          }

          &:after {
            transform: rotate(0deg);
            transform-origin: 7px 18px;
            border-color: $color-blue;
          }
        }
    }
  }

  .menu{
    position: absolute;
    top: 71px;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba($color-white, .8);
    transition: all 500ms ease;

    .container {
      padding-top: 30px;
      background-color: $color-white;
      border-top: 3px solid $color-green;
      border-bottom: 3px solid $color-black;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li a {
        background-color: $color-white;
        border: 1px solid $color-blue;
        display: block;
        width: 100%;
        padding: 10px 20px;
        margin-top: -1px;
        text-transform: capitalize;

        &.active {
          color: $color-red;
        }

        &:hover, &:active {
          background-color: $color-blue;
          color: $color-white;
          text-decoration: none;
          border-color: $color-blue;
        }

        

      }
    }

    &.collapsed {
      height: 0;
      overflow: hidden;
    }
  }
}

  