.nav.nav-tabs {
  border-bottom: 1px solid $color-white;

  li.nav-item {
    margin-bottom: 0;

    a {
      background-color: $color-blue;
      color: $color-white;
      padding: 10px;
      display: inline-block;
      cursor: pointer;

      &.active, &:hover {
        background-color: darken($color-white, 10%);
        color: $color-blue;
        text-decoration: none;
      }

      
    }
  }
}

.tab-pane {
  padding: 20px;
  border: 1px solid darken($color-white, 10%);
  margin-top: -1px;
  background-color: $color-white;
}