$gray: #646464;
$blue: #3F455A;

@import "compass/css3";
@import "compass/css3/transform";

@font-face {
  font-family: icons;
  src: url(/styles/fonts/ErlerDingbats.ttf);
}

html {
  padding: 0;
  margin: 0;

  body {
    font-family: arial, helvetica, sans-serif;
    padding: 0;
    margin: 0;

    .filter-container {
      margin: 1rem;
      input[type=search] {
        width: 100%;
        border-radius: 2rem;
        height: 2rem;
        outline: none;
        padding: 1rem;
      }
    }

    table {
      border-spacing: 0;
      width: 100%;

      thead {
        tr {
          th {
            text-align: left;
            border-bottom: 2px solid #FFF;
            white-space: nowrap;
            overflow: hidden;
            padding: 1rem 2rem;
            background: $blue;
            color: #FFF;

            &.sorter {
              cursor: pointer;
            }

            &.desc {
              background: url('../images/sort-desc.png') $blue no-repeat;
              background-position: 95% 50%;
            }

            &.asc {
              background: url('../images/sort-asc.png') $blue no-repeat;
              background-position: 95% 50%;

            }
          }
        }
      }

      tbody {
        tr {
          td {
            white-space: nowrap;
            overflow: hidden;
            padding: 1rem 2rem;
          }

          &:nth-child(even) {
            background: $blue;
            color: #FFF;
          }
          &:nth-child(odd) {
            background: $gray;
            color: #FFF;
          }
        }
      }
    }

    .input {
      float: left;
      width: 50%;
      background: $blue;
      padding: 2rem;
      color: #FFF;
      box-sizing: border-box;
      min-height: 35rem;

      .form-field {
        label {
          display: inline-block;
          width: 8rem;
          font-weight: bold;
        }
      }
    }

    .result {
      float: right;
      width: 50%;
      background: $gray;
      padding: 2rem;
      color: #FFF;
      box-sizing: border-box;
      min-height: 35rem;

      .result-field {
        label {
          vertical-align: top;
          width: 9rem;
          font-weight: bold;
        }
        span {
          display: inline-block;

          .formula {
            font-style: italic;
            font-size: .8rem;
          }
        }
      }
    }
  }
}