@import "vars/fonts";
@import "vars/colors";
@import "els/nav";
@import "els/headers";
@import "els/aticle";
@import "els/section";
@import "els/sub";
@import "els/iframe";
@import "els/table";
@import "els/code";
@import "comps/media";
@import "comps/site-header";
@import "comps/site-footer";
@import "comps/lightbox";
@import "comps/site-nav";
@import "comps/accordion";
@import "comps/tab-panel";
@import "comps/forms";
@import "helpers/margins";

html {
  width: 100%;
  overflow-x: hidden;

  body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: $color-white;
    color: $color-black;
    font-family: $font-family;
    font-size: 1rem;

  }
}