<article>
    <h1>Code Samples</h1>

    <div id="codeSamples" class="accordion" role="tablist" aria-multiselectable="true" ng-controller="CodeController">
        
        <div ng-repeat="item in data" class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a ng-if="item.tabs" data-toggle="collapse" data-parent="#codeSamples" data-target="#{{item.id}}" aria-expanded="false" aria-controls="{{item.id}}" id="{{item.id}}-label">
                        {{item.name}}
                    </a>
                    <a ng-if="!item.tabs" data-parent="#codeSamples" href="{{item.href}}" id="{{item.id}}-label">
                        {{item.name}}
                    </a>
                </h4>
            </div>

            <div ng-if="item.tabs" id="{{item.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{item.id}}-label">
                <div class="inner">
                    <select class="hidden-lg-up form-control margin-bottom" ng-model="activeTab" ng-change="updateActiveTab()">
                        <option value="">Select an option</option>
                        <option ng-repeat="tab in item.tabs" value="{{tab.id}}">{{tab.name}}</option>
                    </select>
                    <ul class="nav nav-tabs hidden-md-down">
                        <li ng-repeat="tab in item.tabs" class="nav-item">
                            <a ng-if="tab.type && tab.type=='code'" ng-click="loadCode(tab); updateActiveTab(tab)" role="tab" data-toggle="tab" data-target="#{{tab.id}}">{{tab.name}}</a>
                            <a ng-if="!tab.type || tab.type != 'code'" ng-click="updateActiveTab(tab)" role="tab" data-toggle="tab" data-target="#{{tab.id}}">{{tab.name}}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div ng-repeat="tab in item.tabs" role="tabpanel" class="tab-pane" id="{{tab.id}}" aria-expanded="false">
                            <code ng-if="tab.type && tab.type=='code'">{{tab.code}}</code>
                            <iframe ng-if="tab.type && tab.type == 'iframe'" ng-src="{{tab.src}}"></iframe>

                            <select ng-if="tab.tabs" class="hidden-lg-up form-control margin-bottom" ng-model="activeSubTab" ng-change="updateActiveTab()">
                                <option value="">Select an option</option>
                                <option ng-repeat="subTab in tab.tabs" value="{{subTab.id}}">{{subTab.name}}</option>
                            </select>
                            <ul ng-if="tab.tabs" class="nav nav-tabs hidden-md-down">
                                <li ng-repeat="subTab in tab.tabs" class="nav-item">
                                    <a ng-if="subTab.type && subTab.type=='code'" ng-click="loadCode(subTab); updateActiveTab(subTab)" role="tab" data-toggle="tab" data-target="#{{subTab.id}}">{{subTab.name}}</a>
                                    <a ng-if="!subTab.type || subTab.type != 'code'" ng-click="updateActiveTab(subTab)" role="tab" data-toggle="tab" data-target="#{{subTab.id}}">{{subTab.name}}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div ng-repeat="subTab in tab.tabs" role="tabpanel" class="tab-pane" id="{{subTab.id}}">
                                    <code ng-if="subTab.type && subTab.type=='code'">{{subTab.code}}</code>
                                    <iframe ng-if="subTab.type && subTab.type == 'iframe'" ng-src="{{subTab.src}}"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</article>